:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --color-fore-primary: hsla(218, 23%, 23%, var(--tw-text-opacity));
  --color-back-primary: #dae0e6;
  --color-accent: hsla(211, 61%, 43%, var(--tw-text-opacity));
  --color-back-accent: hsla(172, 67%, 70%, var(--tw-bg-opacity));
}

.dark {
  --color-fore-primary: hsla(214, 32%, 91%, var(--tw-text-opacity));
  --color-back-primary: hsla(221, 39%, 11%, var(--tw-bg-opacity));
  --color-accent: hsla(172, 67%, 70%, var(--tw-text-opacity));
  --color-back-accent: hsla(172, 67%, 70%, var(--tw-bg-opacity));
}

@layer base {
  /*Custom base styles*/
  ::-moz-selection {
    background: var(--color-accent);
    color: var(--color-back-primary);
  }

  ::selection {
    background: var(--color-accent);
    color: var(--color-back-primary);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-back-primary);
    color: var(--color-fore-primary);
    @apply overflow-x-hidden antialiased;
  }

  .toggle-bg:after {
    background: #fff;
    border-color: #d1d5db;
    border-radius: 9999px;
    border-width: 1px;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
    content: "";
    height: 1.25rem;
    left: 0.125rem;
    position: absolute;
    top: 0.125rem;
    transition-duration: .15s;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    width: 1.25rem;
  }

  input:checked+.toggle-bg:after {
    border-color: #fff;
    transform: translateX(100%);
  }

  input:checked+.toggle-bg {
    background: theme('colors.primary');
    border-color: theme('colors.primary');
  }
}